In [1]:
import pandas as pd

In [2]:
sierra_fh = "files/GovDocs/private/GovDocs-Sierra-oclcNos.txt"
oclc_fh = "files/GovDocs/private/GovDocs-OCLC-oclcNos.txt"

In [17]:
sdf = pd.read_csv(sierra_fh, header=0, sep="\t", names=["oclcNo", "leader", "t008", "bibNo", "matType"], dtype={"oclcNo": str})

In [18]:
sdf.shape[0]

340218

In [19]:
odf = pd.read_csv(oclc_fh, header=0, sep="\t", names=["oclcNo", "leader", "t008"], dtype={"oclcNo": str})

In [20]:
odf.shape[0]

182631

In [21]:
df = pd.merge(sdf, odf, how="outer", on="oclcNo", indicator=True)

In [22]:
df.shape[0]

369830

In [23]:
df.head()

,oclcNo,leader_x,t008_x,bibNo,matType,leader_y,t008_y,_merge
0,00744019,02070nam a2200457 a 4500,110923s2009\\\\couab\\\ob\\\f000\0\eng\\,b223751686,w,NaN,NaN,left_only
1,00850456,01672nam a2200445 a 4500,041028s2004\\\\dcua\\\\ob\\\f000\0\eng\c,b223927600,w,NaN,NaN,left_only
2,00851887,01628nam a2200421Ki 4500,111113s1977\\\\dcu\\\\\ob\\\f000\0\eng\d,b223927612,w,NaN,NaN,left_only
3,00877419,01749nam a2200457 a 4500,120905s1998\\\\gau\\\\\o\\\\f000\0\spa\c,b223985570,w,NaN,NaN,left_only
4,00985486,01853nam a2200421Ii 4500,740801s1966\\\\dcu\\\\\\\\\\f000\0\eng\\,b210480397,h,NaN,NaN,left_only

In [24]:
bdf = df[df["_merge"] == "both"]

In [25]:
bdf.shape[0]

153073

In [26]:
bdf.head()

,oclcNo,leader_x,t008_x,bibNo,matType,leader_y,t008_y,_merge
504,100000459,02200cam a2200445Ka 4500,070329s2007\\\\wyu\\\\\o\\\\f000\0\eng\d,b165487732,w,02938cam a2200565 a 4500,070329s2007\\\\wyu\\\\\o\\\\f000\0\eng\d,both
505,100000715,01835cam a2200445Ia 4500,070329s2007\\\\mdu\\\\\o\\\\f000\0\eng\\,b170354271,w,02357cam a2200481 a 4500,070329s2007\\\\mdu\\\\\o\\\\f000\0\eng\\,both
508,1000048890,02481cam a2200493 i 4500,170808s2017\\\\dcu\\\\\ob\\\f000\0\eng\c,b21348707x,w,03069cam a2200589 i 4500,170808s2017\\\\dcu\\\\\ob\\\f000\0\eng\c,both
509,1000048894,02318cam a2200529 i 4500,170808s2017\\\\dcua\\\\ob\\\f000\0\eng\c,b213487081,w,02938cam a2200637 i 4500,170808s2017\\\\dcua\\\\ob\\\f000\0\eng\c,both
510,1000049067,02604cam a2200517 i 4500,170808s2017\\\\dcu\\\\\o\\\\f000\0\eng\c,b21348710x,w,04062cam a2200709 i 4500,170808s2017\\\\dcu\\\\\o\\\\f000\0\eng\c,both

In [27]:
sierra_eres = df[(df["matType"] == "w") & (df["_merge"] == "left_only")]

In [28]:
sierra_eres.shape[0]

42441

In [29]:
sierra_eres.head()

,oclcNo,leader_x,t008_x,bibNo,matType,leader_y,t008_y,_merge
0,00744019,02070nam a2200457 a 4500,110923s2009\\\\couab\\\ob\\\f000\0\eng\\,b223751686,w,NaN,NaN,left_only
1,00850456,01672nam a2200445 a 4500,041028s2004\\\\dcua\\\\ob\\\f000\0\eng\c,b223927600,w,NaN,NaN,left_only
2,00851887,01628nam a2200421Ki 4500,111113s1977\\\\dcu\\\\\ob\\\f000\0\eng\d,b223927612,w,NaN,NaN,left_only
3,00877419,01749nam a2200457 a 4500,120905s1998\\\\gau\\\\\o\\\\f000\0\spa\c,b223985570,w,NaN,NaN,left_only
25,04016982,02381cas a2200577 a 4500,780629d19771992dcuar\\\\s\\\f0\\\a0eng\d,b222461391,w,NaN,NaN,left_only

In [30]:
sierra_eres.tail()

,oclcNo,leader_x,t008_x,bibNo,matType,leader_y,t008_y,_merge
369707,99940450,01594cam a2200409Ka 4500,070328s2006\\\\mdu\\\\\o\\\\f000\0\spa\d,b165486120,w,NaN,NaN,left_only
369742,999610164,02567nam a2200505 i 4500,170804s2014\\\\caub\\\\o\\\\f000\0\eng\c,b213488826,w,NaN,NaN,left_only
369767,99964260,01701cam a2200421Ka 4500,070328s2007\\\\mdu\\\\\o\\\\f000\0\spa\d,b165486855,w,NaN,NaN,left_only
369789,999728793,02085nam a2200481 i 4500,170807s2017\\\\dcu\\\\\ob\\\f000\0\eng\c,b219699112,w,NaN,NaN,left_only
369829,99996749,02402nam a22005414a 4500,070402s2006\\\\dcu\\\\\\\\\\f000\0\eng\c,b165488669,w,NaN,NaN,left_only