In [1]:
import pandas as pd

In [6]:
fh = "files/GovDocs/MARCIVE-Sierra-dump-20241216.txt"

In [7]:
df = pd.read_csv(fh, names=["001", "003", "035$a", "049$a", "907$a", "910$a", "991$y", "998$a", "998$d", "998$c"], delimiter="\t", low_memory=False)

In [8]:
df["blocs"] = df["998$a"].str.replace(r"\(\d{1,2}\)", "", regex=True)

In [9]:
df.head()

,001,003,035$a,049$a,907$a,910$a,991$y,998$a,998$d,998$c,blocs
0,001,003,035$a,049$a,907$a,910$a,991$y,998$a,998$d,998$c,998$a
1,marcive778074564,OCoLC,NaN,NYPS,.b195973367,BL,NaN,ia,w,s,ia
2,marcive778075920,OCoLC,NaN,NYPS,.b195973379,BL,NaN,ia,w,s,ia
3,marcive778076212,OCoLC,NaN,NYPS,.b195973380,BL,NaN,ia,w,m,ia
4,marcive778076307,OCoLC,NaN,NYPS,.b195973392,BL,NaN,ia,w,m,ia

In [10]:
df.to_csv("files/GovDocs/public/blocks.csv", index=False, columns=["blocs"])

In [11]:
block = df["blocs"].str.split(pat="@", expand=True)

In [12]:
block.head()

       0     1     2     3
0  998$a  None  None  None
1     ia  None  None  None
2     ia  None  None  None
3     ia  None  None  None
4     ia  None  None  None

In [13]:
block.drop([0], inplace=True)

In [14]:
ublock = set()
for c in block.columns:
    for i in block[c].unique():
        ublock.add(i)

In [15]:
ublock_lst = list(ublock)

In [16]:
print(ublock_lst)

['iarch', None, 'iaslr', 'ma', 'slr', 'nda', 'hfa', 'wka', 'mai', 'none', 'ls', 'sc', 'scf', 'ia', 'map', 'mal']

In [17]:
ublock_lst.remove(None)

In [18]:
print(sorted(ublock_lst))

['hfa', 'ia', 'iarch', 'iaslr', 'ls', 'ma', 'mai', 'mal', 'map', 'nda', 'none', 'sc', 'scf', 'slr', 'wka']

In [19]:
hfa = df[df["998$a"].str.contains("hfa")]

In [20]:
hfa.shape[0]

1

In [21]:
hfa.head()

,001,003,035$a,049$a,907$a,910$a,991$y,998$a,998$d,998$c,blocs
307453,marcive325131966,OCoLC,(GPO)99273651,NYPS,.b180667476,BL,NaN,(7)hfa@(3)ls@(4)nda@(3)wka,k,m,hfa@ls@nda@wka

In [22]:
iaslr = df[df["998$a"].str.contains("iaslr")]

In [23]:
iaslr.shape[0]

193

In [24]:
iaslr.head()

,001,003,035$a,049$a,907$a,910$a,991$y,998$a,998$d,998$c,blocs
143553,marcive44906268,OCoLC,NaN,NYPS,.b149123693,NaN,NaN,ia@iaslr,w,m,ia@iaslr
143565,marcive44948254,OCoLC,NaN,NYPS,.b149123863,NaN,NaN,ia@iaslr,w,m,ia@iaslr
143566,marcive44948430,OCoLC,NaN,NYPS,.b149123875,NaN,NaN,ia@iaslr,w,m,ia@iaslr
144371,marcive45429290,OCoLC,NaN,NYPS,.b149631145,NaN,NaN,ia@iaslr,w,m,ia@iaslr
144378,marcive45429646,OCoLC,NaN,NYPS,.b149631212,NaN,NaN,ia@iaslr,w,m,ia@iaslr

In [25]:
ls = df[df["998$a"].str.contains("ls")]

In [26]:
ls.shape[0]

3467

In [27]:
ls.head()

,001,003,035$a,049$a,907$a,910$a,991$y,998$a,998$d,998$c,blocs
141271,marcive33351677,NaN,(GPO)99047180,NaN,.b145654874,NaN,NaN,ls,h,s,ls
141764,marcive25926777,OCoLC,(GPO)99086710,NaN,.b146923169,NaN,NaN,ls,h,s,ls
141765,marcive31637667,NaN,(GPO)99048868,NaN,.b146923170,NaN,NaN,ls,h,s,ls
141776,marcive40198117,OCoLC,(GPO)20032363,NaN,.b146923340,NaN,NaN,ls,h,s,ls
142283,marcive44430985,OCoLC,(GPO)99214460,NYPS,.b147073856,NaN,NaN,ls,h,s,ls

In [28]:
nda = df[df["998$a"].str.contains("nda")]

In [29]:
nda.shape[0]

1

In [30]:
nda.head()

,001,003,035$a,049$a,907$a,910$a,991$y,998$a,998$d,998$c,blocs
307453,marcive325131966,OCoLC,(GPO)99273651,NYPS,.b180667476,BL,NaN,(7)hfa@(3)ls@(4)nda@(3)wka,k,m,hfa@ls@nda@wka

In [31]:
none = df[df["998$a"].str.contains("none")]

In [32]:
none.shape[0]

5

In [33]:
none.head()

,001,003,035$a,049$a,907$a,910$a,991$y,998$a,998$d,998$c,blocs
148348,marcive27361126,NaN,(GPO)99063864,NaN,.b151176863,NaN,NaN,none,h,s,none
167112,marcive27299925,NaN,(GPO)93064611,NaN,.b151393527,NaN,NaN,none,h,m,none
263890,marcive52125375,OCoLC,(GPO)99143221,NaN,.b159094677,NaN,NaN,none,v,m,none
277426,marcive64630785,OCoLC,(GPO)99186934,NYPS,.b163334110,NaN,NaN,none,a,s,none
319066,marcive312441530,OCoLC,(GPO)99308932,NYPS,.b186706182,NaN,NaN,none,m,s,none

In [34]:
slr = df[df["998$a"].str.contains("slr")]

In [35]:
slr.shape[0]

829

In [36]:
slr.head()

,001,003,035$a,049$a,907$a,910$a,991$y,998$a,998$d,998$c,blocs
65551,marcive1076544575,OCoLC,NaN,NYPS,.b217074315,BL,NaN,ia@slr,w,m,ia@slr
65576,marcive1062587754,OCoLC,NaN,NYPS,.b21707456x,NaN,NaN,ia@slr,w,m,ia@slr
65577,marcive1062591749,OCoLC,NaN,NYPS,.b217074571,BL,NaN,ia@slr,w,m,ia@slr
65578,marcive1062588689,OCoLC,NaN,NYPS,.b217074583,NaN,NaN,ia@slr,w,m,ia@slr
65579,marcive1062593975,OCoLC,NaN,NYPS,.b217074595,BL,NaN,ia@slr,w,m,ia@slr

In [37]:
# bibs requiring physical Bib Location codes
batch = df.iloc[:50001]

In [38]:
sbatch = batch[batch["998$a"].str.contains("ls|ma|sc", regex=True)]

In [39]:
sbatch.shape[0]

11255

In [40]:
sbatch.head()

,001,003,035$a,049$a,907$a,910$a,991$y,998$a,998$d,998$c,blocs
683,marcive22300635,OCoLC,(GPO)99361496,NYPS,.b195980244,RL,NaN,mai,h,m,mai
684,marcive22300834,OCoLC,(GPO)99361497,NYPS,.b195980256,RL,NaN,mai,h,m,mai
685,marcive24771494,OCoLC,(GPO)99361504,NYPS,.b195980268,RL,NaN,mai,h,m,mai
686,marcive24990896,OCoLC,(GPO)99361506,NYPS,.b19598027x,RL,NaN,mai,h,m,mai
687,marcive24995781,OCoLC,(GPO)99361507,NYPS,.b195980281,RL,NaN,mai,h,m,mai

In [41]:
sbatch.head()

,001,003,035$a,049$a,907$a,910$a,991$y,998$a,998$d,998$c,blocs
683,marcive22300635,OCoLC,(GPO)99361496,NYPS,.b195980244,RL,NaN,mai,h,m,mai
684,marcive22300834,OCoLC,(GPO)99361497,NYPS,.b195980256,RL,NaN,mai,h,m,mai
685,marcive24771494,OCoLC,(GPO)99361504,NYPS,.b195980268,RL,NaN,mai,h,m,mai
686,marcive24990896,OCoLC,(GPO)99361506,NYPS,.b19598027x,RL,NaN,mai,h,m,mai
687,marcive24995781,OCoLC,(GPO)99361507,NYPS,.b195980281,RL,NaN,mai,h,m,mai

In [42]:
sbatch.to_csv("files/MARCIVE-bibNo-0-locs.csv", columns=["907$a", "998$a", "998$d"], index=False)