In [1]:
import pandas as pd

In [2]:
sierra_fh = "files/GovDocs/private/GovDocs-Sierra-oclcNos.txt"
oclc_fh = "files/GovDocs/private/GovDocs-OCLC-oclcNos.txt"

In [11]:
sdf = pd.read_csv(sierra_fh, header=0, sep="\t", names=["oclcNo", "leader", "t008", "bibNo", "matType"])

C:\Users\clock\AppData\Local\Temp\ipykernel_11052\1434262782.py:1: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  sdf = pd.read_csv(sierra_fh, header=0, sep="\t", names=["oclcNo", "leader", "t008", "bibNo", "matType"])

In [12]:
sdf.shape[0]

340218

In [13]:
odf = pd.read_csv(oclc_fh, header=0, sep="\t", names=["oclcNo", "leader", "t008"])

In [14]:
odf.shape[0]

182631

In [15]:
df = pd.merge(sdf, odf, how="outer", on="oclcNo", indicator=True)

In [16]:
df.shape[0]

507364

In [17]:
df.head()

,oclcNo,leader_x,t008_x,bibNo,matType,leader_y,t008_y,_merge
0,1503869,02163cas a2200529 a 4500,760714c19759999dcuar1\\\\\\\f0\\\a0eng\d,b151163029,a,NaN,NaN,left_only
1,1787213,02199cas a2200541 a 4500,730925c19uu9999wyuar1\\\\\\\f0\\\a0eng\\,b15116504x,a,NaN,NaN,left_only
2,1788019,02549nas a2200517 a 4500,750626u19uu9999gau\x1\\\s\\\f0\\\a0eng\\,b151165051,a,NaN,NaN,left_only
3,1798266,02229cas a2200529 a 4500,750415c19739999dcuar1\\\\s\\f0\\\a0eng\\,b151165063,a,NaN,NaN,left_only
4,2244484,02476cas a2200541 a 4500,760127c19629999dcuar1\\\s\\\f0\\\a0eng\\,b151165075,a,NaN,NaN,left_only

In [18]:
bdf = df[df["_merge"] == "both"]

In [19]:
bdf.shape[0]

15485

In [20]:
bdf.head()

,oclcNo,leader_x,t008_x,bibNo,matType,leader_y,t008_y,_merge
43354,31204277,01948cam a2200481 i 4500,940930s1985\\\\cau\\\\\ob\\\f000\0\eng\d,b151666969,w,02443cam a2200517 i 4500,940930s1985\\\\cau\\\\\ob\\\f000\0\eng\d,both
52781,32481658,02676cas a2200685 a 4500,950516d20112011dcu\x\pso\\\\f0\\\a0eng\\,b150196726,w,03415cas a2200817 a 4500,950516d19722011dcu\x\pso\\\\f0\\\a0eng\\,both
53095,32524223,02251cas a2200553 a 4500,950523c19uu9999dcumr\pss\\\\f0\\\\0eng\d,b150481809,w,02474cas a2200565 a 4500,950523c19uu9999dcumr\pso\\\\f0\\\\0eng\c,both
54973,32821875,02205nmm a2200481 a 4500,950607m19959999dcu\\\\\\\\j\f\\\\\\eng\\,b145654680,w,05283cmm a2200733 a 4500,950607m19959999dcu\\\\\o\\j\\\\\\\\eng\\,both
60741,33979727,03512cas a2200829 a 4500,960102c19959999caumr\pso\\\\f0\\\a0eng\c,b15274986x,w,04011cas a2200913 a 4500,960102c19959999caubr\pso\\\\f0\\\a0eng\c,both

In [25]:
sierra_eres = df[(df["matType"] == "w") & (df["_merge"] == "left_only")]

In [26]:
sierra_eres.shape[0]

179535

In [27]:
sierra_eres.head()

,oclcNo,leader_x,t008_x,bibNo,matType,leader_y,t008_y,_merge
50,7541215,02040nas a2200517 a 4500,810630c1uuu9999dcu\x\m\\\l\\f0\\\\0eng\d,b151233299,w,NaN,NaN,left_only
1077,17105385,02449nam a2200553 a 4500,871014s1986\\\\dcua\\\\\\\\\f000\0\eng\\,b158188342,w,NaN,NaN,left_only
24029,28123016,01714nas a2200469 a 4500,930518c19uu9999dcu\x\\\b\\\\f0\\\\0eng\d,b151196370,w,NaN,NaN,left_only
29686,28909617,02178nmm a2200433Ia 4500,930929s1992\\\\dcun\\\\q\\u\f\\\\\\eng\d,b233164753,w,NaN,NaN,left_only
33086,29540853,03241nmm a2200529 a 4500,931222s1992\\\\dcu\\\\\q\\a\f\\\\\\zxx\d,b232922652,w,NaN,NaN,left_only